<launch>
  <arg name="ns" default="track_anything"/>
  <arg name="input"/>
  <arg name="width" default="640"/>
  <arg name="height" default="480"/>
  <node name="image_resizer"
        pkg="nodelet" type="nodelet"
        args="standalone image_proc/resize"
        respawn="true">
    <!-- <remap from="image" to="/zed/zed_node/rgb/image_rect_color" /> -->
    <remap from="image" to="$(arg input)" />
    <remap from="~image" to="$(arg ns)/resized_image_color" />
    <rosparam>
      width : $(arg width)
      height : $(arg height)
    </rosparam>
  </node>
</launch>
