<?xml version="1.0" encoding="utf-8"?>
<launch>
  <arg name="gui" default="false" doc="set true to show windows displaying face detection and face search"/>
  <arg name="use_aws_face_detection" default="true" doc="set true to use aws face detection API"/>
  <arg name="INPUT_IMAGE" default="/hsrb/head_rgbd_sensor/rgb/image_raw/throttled" />
  <arg name="DRAW_RECTS_INPUT_IMAGE" default="/head_rgbd_sensor/rgb/image_raw" />

  <group if="$(arg use_aws_face_detection)" >
    <node name="aws_detect_faces"
          pkg="jsk_perception" type="aws_detect_faces.py"
          output="screen"
          clear_params="true" >
      <remap from="image" to="$(arg INPUT_IMAGE)" />
      <remap from="~faces" to="/face_detection/faces" />
      <rosparam subst_value="true">
        use_window: $(arg gui)
        aws_credentials_path: /var/lib/robot/aws.json
        attributes: ALL
      </rosparam>
    </node>
  </group>

  <node name="aws_auto_checkin_app"
        pkg="jsk_perception" type="aws_auto_checkin_app.py"
        output="screen"
        clear_params="true" >
    <remap from="image" to="$(arg INPUT_IMAGE)" />
    <remap from="face_roi" to="/face_detection/faces" />
    <rosparam subst_value="true">
      use_window: $(arg gui)
      env_path: /var/lib/robot/env.json
      aws_credentials_path: /var/lib/robot/aws.json
      approximate_sync: false
      queue_size: 100
      image_transport: compressed
    </rosparam>
  </node>

  <group ns="aws_auto_checkin_app" >
    <node name="draw_rects"
          pkg="jsk_perception" type="draw_rects.py"
          output="screen"
          clear_params="true" >
      <remap from="~input" to="$(arg DRAW_RECTS_INPUT_IMAGE)" />
      <remap from="~input/rects" to="output/rects" />
      <remap from="~input/class" to="output/class" />
      <rosparam subst_value="true">
        font_path: $(find jsk_recognition_utils)/font_data/NotoSansJP-Regular.otf
        use_classification_result: true
        label_size: 16
        queue_size: 100
      </rosparam>
    </node>
  </group>

</launch>
