<launch>

  <arg name="camera" default="head_rgbd_sensor"
       doc="namespace of republished topics" />
  <arg name="rgb" default="rgb"
       doc="namespace of rgb topics" />
  <arg name="depth" default="depth"
       doc="namespace of depth topics" />
  <arg name="depth_registered" default="depth_registered"
       doc="namespace of depth_registered topics" />
  <arg name="depth_registered_filtered" default="depth_registered" />
  <arg name="optical" default="" doc="frame name" />
  <arg name="use_throttled_image" default="true" />
  <arg name="depth_registration" default="true" />

  <arg unless="$(arg use_throttled_image)"
       name="throttled" value="" />
  <arg if="$(arg use_throttled_image)"
       name="throttled" value="/throttled" />


  <!-- publishing is delayed because the computation load of png's compression processing
       is too large for the default compression ratio. As a result,
       it is inferred that synchronization problems occur when creating point clouds. -->
  <group ns="$(arg camera)" >
    <group ns="$(arg depth_registered)" >
      <group ns="image_rect" >
        <param name="compressed/format" value="png" />
        <param name="compressed/png_level" value="1" />
        <param name="compressedDepth/png_level" value="1" />
      </group>
      <group ns="image_rect_raw" >
        <param name="compressed/format" value="png" />
        <param name="compressed/png_level" value="1" />
        <param name="compressedDepth/png_level" value="1" />
      </group>

      <node name="relay_info"
	          pkg="topic_tools" type="relay"
	          args="/hsrb/$(arg camera)/$(arg depth_registered)/camera_info$(arg throttled)
	                camera_info">
      </node>
      <node name="republish_image"
            pkg="image_transport" type="republish"
	          args="compressedDepth raw">
        <remap from="in" to="/hsrb/$(arg camera)/$(arg depth_registered)/image_raw$(arg throttled)"/>
        <remap from="out" to="image_raw" />
      </node>
    </group> <!-- end of $(arg depth_registered) ns -->
    <group ns="$(arg rgb)" >
      <node name="relay_info"
	          pkg="topic_tools" type="relay"
	          args="/hsrb/$(arg camera)/$(arg rgb)/camera_info$(arg throttled)
	                camera_info">
      </node>

      <node name="republish_image"
            pkg="image_transport" type="republish"
	          args="compressed raw" >
        <remap from="in" to="/hsrb/$(arg camera)/$(arg rgb)/image_raw$(arg throttled)" />
        <remap from="out" to="image_raw" />
      </node>
    </group> <!-- end of $(arg rgb) ns -->
  </group> <!-- end of camera ns -->

  <include file="$(find jsk_robocup_perception)/launch/openni2.launch">
    <arg name="camera" value="$(arg camera)" />
    <arg name="publish_tf" value="false" />
    <arg name="load_driver" value="false" />
    <arg name="depth_registration" value="$(arg depth_registration)" />
    <arg name="depth" value="$(arg depth)" />
    <arg name="rgb" value="$(arg rgb)" />
    <arg name="depth_registered" value="$(arg depth_registered)" />
    <arg name="depth_registered_filtered" value="$(arg depth_registered_filtered)" />
  </include>

</launch>
